<h2>Platform Index Page</h2>

<%= search_form_for @q do |f| %>
 <div class="field">
   <%= f.label :name_cont, "Search by name" %>
   <%= f.text_field :name_cont %>
 </div>
 <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<% @platforms.each do |platforms| %>
  <%= link_to platforms.name, platform_path(platforms) %>
  <%= platforms.brand %>
  <%= platforms.release_date %>
 <hr>
<% end %>

 <div><%= link_to "Create New Platform", new_platform_path %></div>
 <div><%= link_to "Clear Search", platforms_path %></div>
<hr>
<div><%= link_to "Home", root_path %></div>