<h2>Platform Index Page</h2>

<%= search_form_for @q do |f| %>
 <div class="searchbar">
   <%= f.label :name_cont, "Search by name" %>
   <%= f.text_field :name_cont %>
   <%= f.submit "Search" %>
 </div>
<% end %>

<div><%= link_to "Clear Search", platforms_path %></div>
 <div><%= link_to "Create New Platform", new_platform_path if logged_in?(:admin) %></div>
<hr>

<table class="table">
	<tr>
		<th class="col-md-4"><%= sort_link @q, :name, "Name" %></th>
		<th class="col-md-4"><%= sort_link @q, :brand, "Brand" %></th>
		<th class="col-md-4"><%= sort_link @q, :release_date, "Release Date" %></th>
	</tr>
	<% @platforms.each do |platforms| %>
	<tr>
	  <td class="col-md-4"><%= link_to platforms.name, platform_path(platforms) %></th>
	  <td class="col-md-4"><%= platforms.brand %></td>
	  <td class="col-md-4"><%= platforms.release_date %></td>
	</tr>
	<% end %>
</table>


<%= paginate @platforms %>