<h2>Platform Index Page</h2>

<div class="searchbar">
	<ul class="custom-nav nav nav-pills">
		<%= search_form_for @q do |f| %>
		<li class="col-md-5">
		   	<%= f.label :cont, "Search Platforms" %>
		   	<%= f.text_field :name_or_brand_cont %>
		   	<%= f.submit "Search" %>
		</li>
		<li class="dropdown pull-right col-md-2">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort By<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<li>
					<%= sort_link @q, :name, "Name"%>
				</li>
				<li>
					<%= sort_link @q, :brand, "Brand" %>
				</li>
				<li>
					<%= sort_link @q, :release_date, "Release" %>
				</li>
			</ul>
		</li>
	</ul>
</div>
<% end %>
<div><%= link_to "Clear Search", platforms_path %></div>
 <div><%= link_to "Create New Platform", new_platform_path if logged_in?(:admin) %></div>
<hr>

<table class="table">
	<tr>
		<th class="col-md-4"><%= sort_link @q, :name, "Name" %></th>
		<th class="col-md-4"><%= sort_link @q, :brand, "Brand" %></th>
		<th class="col-md-4"><%= sort_link @q, :release_date, "Release Date" %></th>
	</tr>
	<% @platforms.each do |platforms| %>
	<tr>
	  <td class="col-md-4"><%= link_to platforms.name, platform_path(platforms) %></th>
	  <td class="col-md-4"><%= platforms.brand %></td>
	  <td class="col-md-4"><%= platforms.release_date %></td>
	</tr>
	<% end %>
</table>


<%= paginate @platforms %>