<h2>Welcome to <%= "#{@platform.name}" %></h2>
<%= render 'shared/status', instance_variable: @platform, subpath: 'platform' if logged_in?(:admin) %>


<%= link_to "Edit Platform Listing", edit_platform_path if logged_in?(:admin) %>
<div><%= link_to "Delete Platform Listing", @platform, method: :delete, data:  {confirm: "Are you sure you want to delete?"} if logged_in?(:admin) %></div>

<div><%= @platform.release_date.year %></div>
<div><%= @platform.brand %></div>
<div><%= render 'games' %></div>

<% if logged_in?(:user) %>
  <%= render 'shared/votable', thing: @platform, subpath: 'platform' %>
<% else %>
  <%= render 'shared/votelogin', thing: @platform %>
<% end %>



