<h2>Peoples Index Page</h2>

<div class="searchbar">
	<ul class="custom-nav nav nav-pills">
		<%= search_form_for @q do |f| %>
		<li class="col-md-5">
		   	<%= f.label :cont, "Search People" %>
		   	<%= f.text_field :searchable_cont %>
		   	<%= f.submit "Search" %>
		</li>
		<li class="dropdown pull-right col-md-2">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort By<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<li>
					<%= sort_link @q, :name, "Name"%>
				</li>
				<li>
					<%= sort_link @q, :bigraphy, "Biography" %>
				</li>
			</ul>
		</li>
	</ul>
</div>
<% end %>
<div><%= link_to "Clear Search", people_path %></div>
<div><%= link_to "Create New Peoples", new_person_path if logged_in?(:admin) %></div>
<hr>

<table class="table">
	<tr> 
		<th class="col-md-4">Name</th>
		<th class="col-md-4">Biography</th>

	</tr>
	<% @peoples.each do |people| %>
	<tr>
	  <td class="col-md-4"><%= link_to people.name, person_path(people) %></td>
	  <td class="col-md-4"><%= people.bigraphy %> </td>
	</tr>
	<% end %>
</table>
 

