<h2>Welcome to <%= "#{@people.name}" %></h2>

<%= link_to "Edit Charater Listing", edit_person_path if logged_in?(:admin) %>
<div><%= link_to "Delete People Listing", @people, method: :delete, data:  {confirm: "Are you sure you want to delete?"} if logged_in?(:admin) %></div>

<div>Biography: <%= @people.bigraphy %></div>

<% if logged_in?(:user) %>
  <%= render 'shared/votable', thing: @people, subpath: 'person' %>
<% else %>
  <%= render 'shared/votelogin', thing: @people %>
<% end %>


<% @peoples.each do |person| %>
  <%= person.id %>
  <%= person.name %>
  <hr>
<% end %>

<% @gamples.each do |gample| %>
  game - <%= gample.game_id %>
  person - <%= gample.person_id %>
  <hr>
  </html>
<% end %>

