<h1>Pages#home</h1>
<p>I made a home page!!</p>

<%= link_to "Games", games_path %>
<%= link_to "Studios", studios_path %>
<%= link_to "Characters", characters_path %>
<%= link_to "Platfoms", platforms_path %>
<%= link_to "People", root_path %>
