<%= form_for @game do |f| %>
  <%= f.label :Title %>:
  <%= f.text_field :title %><br />

  <%= f.label :Release_date %>:
  <%= f.date_field :release %><br />

  <%= f.label :Description%>:
  <%= f.text_field :description %><br />


  <%= f.fields_for :gamplats do |gamplats_form| %>
    <%= render 'gamplat_fields', f: gamplats_form %>
  <% end %>

  <div>
    <%= link_to_add_association 'Add New Platform', f, :gamplats %>
  </div>

  <%= f.submit %>
<% end %>