<p>Now i have a games index!!</p>


<% @games.each do |game| %>
  <%= game.id %>
 <%= link_to game.title, game_path(game) %>
 <%= game.release %>
 <%= game.description %>
 <hr>
 <% end %>

 <div><%= link_to "Create New Game", new_game_path %></div>
