<p>Now i have a games index!!</p>

<%= search_form_for @q do |f| %>
 <div class="field">
   <%= f.label :title_cont, "Search by title" %>
   <%= f.text_field :description_cont %>
 </div>
 <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table class="table">
	<tr>
		<th><%= sort_link @q, :title, "Game Title"  %></th>
		<th><%= sort_link @q, :description, "Description"  %></th>
		<th><%= sort_link @q, :release, "Release Date"  %></th>
	</tr>
	<% @games.each do |game| %>
	<tr>
		 <td><%= link_to game.title, game_path(game) %></td>
		 <td><%= truncate(game.description) %></td>
		 <td><%= game.release.strftime("%B %e %Y") %></td>
	 </tr>
	 <% end %>
</table>
 <div><%= link_to "Create New Game", new_game_path %></div>
 <div><%= link_to "Clear Search", games_path %></div>

<%= paginate @games %>