<p>Now i have a games index!!</p>

<div class="searchbar">
	<ul class="custom-nav nav nav-pills">
		<%= search_form_for @q do |f| %>
		<li class="col-md-5">
		   	<%= f.label :cont, "Search Games" %>
		   	<%= f.text_field :title_or_description_cont %>
		   	<%= f.submit "Search" %>
		</li>
		<li class="dropdown pull-right col-md-2">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort By<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<li>
					<%= sort_link @q, :title, "Title"%>
				</li>
				<li>
					<%= sort_link @q, :description, "Description" %>
				</li>
				<li>
					<%= sort_link @q, :release, "Release Date", up_arrow: '<i>New to Old</i>' %>
				</li>
			</ul>
		</li>
	</ul>
</div>
<% end %>
 <div><%= link_to "Clear Search", games_path %></div>
 <div><%= link_to "Create New Game", new_game_path if logged_in?(:admin) %></div>
 <hr>

<table class="table">
	<tr>
		<th class="col-md-4">Game Title</th>
		<th class="col-md-4">Description</th>
		<th class="col-md-4">Release Date</th>
	</tr>
	<% @games.each do |game| %>
	<tr>
		 <td class="col-md-4"><%= link_to game.title, game_path(game) %></td>
		 <td class="col-md-4"><%= truncate(game.description) %></td>
		 <td class="col-md-4"><%= game.release.strftime("%B %e %Y") %></td>
	 </tr>
	 <% end %>
</table>


<%= paginate @games %>