<h1><%="Here is a game show page for  #{@game.title}!!"%></h1>
<%= link_to "Edit Game Listing", edit_game_path if logged_in?(:admin) %>
<div><%= link_to "Delete Game Listing", @game, method: :delete, data:  {confirm: "Are you sure you want to delete?"} if logged_in?(:admin) %></div>

<div>(<%= @game.release.year %>)</div>
<div><%= @game.description %></div>

<br>
<% if current_user.voted_up_on? @game, :vote_scope => 'favorite' %>
  <%= link_to "unFavorite", unfavorite_game_path(@game), method: :put %>
<% else %>
  <%= link_to "Favorite", favorite_game_path(@game), method: :put %>
<% end %>
<br>

<% if current_user.liked? @game, :vote_scope => 'liked' %>
  <%= link_to "unlike", unlike_game_path(@game), method: :put %>
<% else %>
  <%= link_to "like", like_game_path(@game), method: :put %>
<% end %>

<span><%= @game.get_likes(:vote_scope => 'liked').size %></span>

<% if current_user.disliked? @game, :vote_scope => 'liked' %>
  <%= link_to "undislike", undislike_game_path(@game), method: :put %>
<% else %>
  <%= link_to "dislike", dislike_game_path(@game), method: :put %>
<% end %>
<span><%= @game.get_dislikes(:vote_scope => 'liked').size %></span>

<hr>

<div><%= link_to "Own this game and want to trade it for another?", pages_hiBrayden_path, class: "btn btn-primary" %></div>


<!-- ToDo: Refactor this crap into a partial -->
<% @gamplats.each do |gamplat| %>
  <% @platforms.where(id: gamplat.platform_id).each do |platform| %>
    <%= link_to "#{platform.name}", platform_path(platform) %> - 
  <% end %>

<% end %>