<h1><%="Here is a game show page for  #{@game.title}!!"%></h1>
<%= link_to "Edit Game Listing", edit_game_path if logged_in?(:admin) %>
<div><%= link_to "Delete Game Listing", @game, method: :delete, data:  {confirm: "Are you sure you want to delete?"} if logged_in?(:admin) %></div>
<div>(<%= @game.release.year %>)</div>
<div><%= render 'platforms' %></div>
<div><%= @game.description %></div>
<div> <%= image_tag(img(@game.main_image, 'main'), size: "350x500") %></div>

<br>

<div>
<% if logged_in?(:user) %>
  <%= render 'shared/votable', thing: @game, subpath: 'game' %>
<% else %>
  <%= render 'shared/votelogin', thing: @game %>
<% end %>
</div>

<div><%= link_to "Own this game and want to trade it for another?", pages_hiBrayden_path, class: "btn btn-primary" %></div>


<% @gamples.each do |gample| %>
  <% @peoples.where(id: gample.person_id).each do |people| %>
    <%= people.name %> - 
  <% end %>
<% end %>