<h1><%="Here is a game show page for  #{@game.title}!!"%></h1>
<%= link_to "Edit Game Listing", edit_game_path %>
<div><%= link_to "Delete Game Listing", @game, method: :delete, data:  {confirm: "Are you sure you want to delete?"} %></div>

<div>(<%= @game.release.year %>)</div>
<div><%= @game.description %></div>
<div><%= link_to "Back to Games", games_path %></div>
<div><%= link_to "Home", root_path %></div>


<p> Own this game and want to trade it for another?  Click <%= link_to "here", pages_hiBrayden_path %> for our trading services </p>

