<h2>Characters Index Page</h2>
<div class="searchbar">
	<ul class="custom-nav nav nav-pills">
		<%= search_form_for @q do |f| %>
		<li class="col-md-5">
		   	<%= f.label :cont, "Search Characters" %>
		   	<%= f.text_field :searchable_cont %>
		   	<%= f.submit "Search" %>
		</li>
		<% end %>
		<li class="dropdown pull-right col-md-2">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort By<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<li>
					<%= sort_link @q, :name, "Name"%>
				</li>
				<li>
					<%= sort_link @q, :first_appearence, "First Appearence" %>
				</li>
			</ul>
		</li>
	</ul>
</div>
 <div><%= link_to "Clear Search", characters_path %></div>
 <div><%= link_to "Create New Characters", new_character_path if logged_in?(:admin) %></div>
<hr>

<table class="table">
	<tr>
		<th class="col-md-3">Name</th>
		<th class="col-md-2">First Appearence</th>
		<th class="col-md-6">Biography</th>
	</tr>
	<% @characters.each do |character| %>
	<tr>
	 	<td><%= link_to character.name, character_path(character) %></td>
	 	<td><%= character.first_appearence %></td>
	 	<td><%= character.biography.truncate(80) %></td>
	</tr>
	<% end %>


</table>
 
<%= paginate @characters %>