<h2>Welcome to <%= "#{@character.name}" %></h2>

<%= link_to "Edit Charater", edit_character_path if logged_in?(:admin) %>
<div><%= link_to "Delete Character", @character, method: :delete, data:  {confirm: "Are you sure you want to delete?"} if logged_in?(:admin) %></div>

<div>Age: <%= @character.age %></div>
<div>Home Town: <%= @character.home_town %></div>
<div>First Appearace: <%= @character.first_appearence %></div>
<div>Birography: <%= @character.biography %></div>

<% if logged_in?(:user) %>
  <%= render 'shared/votable', thing: @character, subpath: 'character' %>
<% else %>
  <%= render 'shared/votelogin', thing: @character %>
<% end %>