<h2>Studio Index Page</h2>

<div class="searchbar">
	<ul class="custom-nav nav nav-pills">
		<%= search_form_for @q do |f| %>
		<li class="col-md-5">
		   	<%= f.label :cont, "Search Studios" %>
		   	<%= f.text_field :title_or_location_cont %>
		   	<%= f.submit "Search" %>
		</li>
		<li class="dropdown pull-right col-md-2">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort By<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<li>
					<%= sort_link @q, :title, "Title"%>
				</li>
				<li>
					<%= sort_link @q, :location, "Location" %>
				</li>
			</ul>
		</li>
	</ul>
</div>
<% end %>

<div><%= link_to "Clear Search", studios_path %></div>
 <div><%= link_to "Create New Studio", new_studio_path if logged_in?(:admin) %></div>
<hr>

<table class="table">
	<tr>
		<th class="col-md-4">Name</th>
		<th class="col-md-4">Location</th>
	</tr>
	<% @studios.each do |studio| %>
	<tr>
	 	<td class="col-md-4"><%= link_to studio.title, studio_path(studio) %></td>
	 	<td class="col-md-4"><%= studio.location %></td>
	</tr>
	<% end %>
</table>


<%= paginate @studios %>

<h4>FYI, if you just ran your seeds you really do have studios.  The admin has to approve them.</h4>