<h2>Studio Index Page</h2>

<%= search_form_for @q do |f| %>
 <div class="searchbar">
   <%= f.label :title_cont, "Search by title" %>
   <%= f.text_field :title_cont %>
   <%= f.submit "Search" %>
 </div>
<% end %>

<div><%= link_to "Clear Search", studios_path %></div>
 <div><%= link_to "Create New Studio", new_studio_path if logged_in?(:admin) %></div>
<hr>

<% @studios.each do |studio| %>
 <%= studio.id %>
 <%= link_to studio.title, studio_path(studio) %>
 <%= studio.location %>
 <hr>
<% end %>

 


<%= paginate @studios %>