<h2>Studio Index Page</h2>

<%= search_form_for @q do |f| %>
 <div class="field">
   <%= f.label :title_cont, "Search by title" %>
   <%= f.text_field :title_cont %>
 </div>
 <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<% @studios.each do |studio| %>
 <%= studio.id %>
 <%= link_to studio.title, studio_path(studio) %>
 <%= studio.location %>
 <hr>
<% end %>

 <div><%= link_to "Create New Studio", new_studio_path %></div>
 <div><%= link_to "Clear Search", studios_path %></div>
<hr>
<div><%= link_to "Home", root_path %></div>

<%= paginate @studios %>