<h2>Studio Index Page</h2>

<%= search_form_for @q do |f| %>
 <div class="field">
   <%= f.label :title_cont, "Search by title" %>
   <%= f.text_field :title_cont %>
 </div>
 <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table class="table">
	<tr>
		<th class="col-md-4"><%= sort_link @q, :title, "Title" %></th>
		<th class="col-md-4"><%= sort_link @q, :location, "Location" %></th>
	</tr>
	<% @studios.each do |studio| %>
	<tr>
	 	<td class="col-md-4"><%= link_to studio.title, studio_path(studio) %></td>
	 	<td class="col-md-4"><%= studio.location %></td>
	</tr>
	<% end %>
</table>

 <div><%= link_to "Create New Studio", new_studio_path %></div>
 <div><%= link_to "Clear Search", studios_path %></div>
<hr>
<div><%= link_to "Home", root_path %></div>

<%= paginate @studios %>